#loading-text {
	position: absolute;
	z-index: 100;
	background: white;
	font-size: 100px;
}

#console-log {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 100;
	background: white;
	font-size: 20px;
}

#player {
	position: absolute;
	left: 0px;
	top: 0px;
	transform: scale(1, 1);
	z-index: 10;
}

.tile {
	position: absolute;
	left: 0px;
	top: 0px;
}

body {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
}

#mobile-controls-container {
	display: none;
}
#mobile-action-button-container {
	z-index: 1000;
	position: fixed;
	left: 0px;
	bottom: 0px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
#mobile-dpad-container {
	z-index: 1000;
	position: fixed;
	right: 0px;
	bottom: 0px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.mobile-button, .spacer {
	width: 100px;
	height: 100px;
}